@model IDScanner.ViewModels.TeacherViewModel

@{
    ViewBag.Title = "TeacherView";
}
<center>
    <h2>
        @Html.DisplayName("Current Time:")
        <br />
        @Html.DisplayName(DateTime.Now.ToShortTimeString())
    </h2> 
    
    

            @foreach(var cour in Model.Course){
               foreach (var teach in Model.Users){
                    @:<h2>

                    if(teach.UserId == cour.FID && DateTime.Now > cour.TimeStart && DateTime.Now < cour.TimeEnd){
                        <br />
                        @Html.DisplayFor(modelItem => teach.FName)
                        @Html.DisplayFor(modelItem => teach.LName)
                        @:'s  
                        @Html.DisplayFor(modelItem => cour.CourseName)
                        @: class.
                        <br />
                      
                        
                        @Html.DisplayName(cour.TimeStart.ToShortTimeString())
                        @: to
                        @Html.DisplayName(cour.TimeEnd.ToShortTimeString())

                        @:</h2>
                        <br />


                        <div class="row">
                        <div class="col-md-4">
                        <table class="table">
                        <tr>
                        <th>
                          @Html.Label("Student Name")
                        </th>
                        <th>
                          @Html.Label("Time In")
                        </th>
                        <th>
                          @Html.Label("Time Out")
                        </th>
                        <th></th>
                        </tr>
                                

                        @foreach (var item in Model.Student)
                            {
                               foreach (var sched in Model.Schedule)
                                {
                                if(sched.ID == item.SID && cour.CID == sched.CourseID )
                                    {
                                    <tr>
                                    <td>
                                    @Html.DisplayFor(modelItem => item.Fname)


                                    @Html.DisplayFor(modelItem => item.Lname)
                                    </td>
                                    @*<td>  !causes error for teachers, need to look into this
                                    @Html.DisplayFor(modelItem => item.Attendance.Clock_In)
                                    </td>
                                    <td>
                                    @Html.DisplayFor(modelItem => item.Attendance.Clock_Out)
                                    </td>*@

                                    </tr>
                                    }
                                }


                            }
                    </table>
                    </div>
                    <div class="col-md-4">
                    </div>

                    <div class="col-md-4">
            
           
            @*<table class="table">
                <tr>
                    <th>
                        @Html.Label("Absent")
                    </th>
            
                    <th></th>
                </tr>

                @foreach (var item in Model.Student)
                {
                    foreach (var sched in Model.Schedule)
                    {
                        if (sched.ID == item.SID && cour.CID == sched.CourseID)
                        {
                            foreach (var atten in Model.Attendance)
                            {
                                if (atten.Clock_In != null)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fname)

                                            @Html.DisplayFor(modelItem => item.Lname)
                                        </td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                }


                            }

                        }
                    }


                }
            </table>*@ 


        </div>
    </div>

                   }<!--end fid==cid -->

               }<!--End foreach teacher in model-->
            <br />
                <!--End foreach cour model-->
            }

        
            
            
            
      
   
</center>

