@model IEnumerable<IDScanner.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Student Schedule</h2>

<p>
  
      @Html.ActionLink("Create New", "Create")
    
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Course Name")
        </th>

        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.CourseName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Student.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Lname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
