@model IEnumerable<IDScanner.aspnet_Users>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoweredUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileAlias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAnonymous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aspnet_Applications.ApplicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aspnet_Membership.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aspnet_Profile.PropertyNames)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoweredUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileAlias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnonymous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastActivityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aspnet_Applications.ApplicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aspnet_Membership.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aspnet_Profile.PropertyNames)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
                @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
