@model IDScanner.Faculty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fac_Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fac_Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fac_Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fac_Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessLvl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessLvl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
